.sc-main{
  margin: 0 auto;
}
.sc-main .main_bg{
  display: block;
  width: 100%;
  height: 120vh;
  object-fit: cover;
}
.sc-main .main-title{
  position: absolute;
  top: 128px;
  left: 120px;
}
.sc-main .main-title .logo{
  margin-bottom: 30px;
  display: inline-block;
}
.sc-main .main-title .subtitle{
  color: rgba(255, 255, 255, 0.90);
  font-size: 20px;
  font-weight: 400;
  margin-left: 102px;
}
.sc-main .main-list{
  position: absolute;
  top: 384px;
  left: 222px;
}

.sc-main .main-item{
  margin-bottom: 40px;
}
.sc-main .main-item .name{
  display: block;
  color: #FFF;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.sc-main .main-item .sub{
  opacity: 0.7;
  color: #FFF;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}





.sc-about{
  margin: 180px auto 180px;
  padding: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sc-about .subtitle{
  margin: 76px 0 34px;
  width: 582px;
  text-align: center;
  font-size: 22px;
  font-weight: 500;
  line-height: 35px;
}
.sc-about .desc{
  width: 582px;
  font-size: 15px;
  font-weight: 400;
  line-height: 29px;
  text-align: center;
}
.sc-about .desc.line{
  margin-bottom: 188px;
  margin-top: 20px;
}


.sc-about .process-list{
  margin-top: 76px;
  display: flex;
  gap: 44px;
}
.sc-about .process-item{
  position: relative;
  width: 266px;
  height: 198px;
  border-radius: 17px;
  background: #FFF;
  padding: 24px;
}
.sc-about .process-item.line01{
  margin-top: 30px;
}
.sc-about .process-item.line02{
  margin-top: 60px;
}
.sc-about .process-item.line03{
  margin-top: 90px;
}
.sc-about .process-item .title-box{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sc-about .process-item .title-box .number{
  color: #000;
  text-align: center;
  font-size: 10px;
  font-weight: 400;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  border: 1px solid #B0B0B0;
  line-height: 100%;
}
.sc-about .process-item .title-box .name{
  text-align: right;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
}
.sc-about .process-item .text-box.line{
  margin-top: 4px;
}
.sc-about .process-item .text-box{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.sc-about .process-item .text{
  display: block;
  text-align: center;
  font-size: 15px;
  font-weight: 400;
  line-height: 26px; 
}



.sc-style{
  background: #fff;
  border-radius: 59px;
  padding: 188px 0 188px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sc-style .desc{
  width: 582px;
  font-size: 15px;
  font-weight: 400;
  line-height: 29px;
  text-align: center;
  margin: 76px auto 100px;
}


.sc-style .typo-group .type-area{
  display: flex;
  gap: 132px;
}
.sc-style .typo-group .type-area .type-box{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sc-style .typo-group .type-area .type-box .title{
  display: block;
  font-family: Nanum Gothic;
  font-size: 15px;
  font-weight: 600;
  padding: 14px 22px;
  border-radius: 100px;
  border: 1px solid #ababab;
  margin-bottom: 36px;
}
.sc-style .typo-group .type-area .type-box .subtext{
  text-align: center;
  font-family: Nanum Gothic;
  font-size: 103px;
  font-weight: 400;
  margin-bottom: 25px;
}
.sc-style .typo-group .type-area .type-box .line{
  width: 284px;
  height: 1px;
  background: #c4c4c4;
}
.sc-style .typo-group .type-area .type-box .type{
  display: flex;
  justify-content: space-between;
  width: 284px;
  margin-top: 30px;

}
.sc-style .typo-group .type-area .type-box .type .regular{
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 14px;
  font-weight: 400;
}
.sc-style .typo-group .type-area .type-box .type .bold{
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 14px;
  font-weight: 600;

}
.sc-style .typo-group .type-area .type-box .type .extra{
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 14px;
  font-weight: 700;
}


.sc-style .color-group{
  margin-top: 200px;
}
.sc-style .color-group .color-list{
  display: flex;
  gap: 52px;
}
.sc-style .color-group .color-item{
  display: flex;
  align-items: center;
}
.sc-style .color-group .color-item .color{
  width: 196px;
  height: 196px;
  background: #f27057;
  border-radius: 100%;
}
.sc-style .color-group .color-item .color.yellow{
  background: #FFBD24;
}
.sc-style .color-group .color-item .color.green{
  background: #00AA6B;
}
.sc-style .color-group .color-item .color{
  width: 196px;
  height: 196px;
  background: #f27057;
  border-radius: 100%;
}
.sc-style .color-group .color-item .text-box{
  margin-left: -45px;
  display: flex;
  flex-direction: column;
  gap: 22px;
}
.sc-style .color-group .color-item .text-box .title{
  font-size: 17px;
  font-weight: 800;

}
.sc-style .color-group .color-item .text-box .sub-box .sub{
  display: block;
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 3px;
}







.sc-style .icon-group{
  margin-top: 200px;
}

.sc-style .icon-group .icon-area{
  display: flex;
  gap: 70px;
  align-items: center;
}
.sc-style .icon-group .icon-area .icon-left{}
.sc-style .icon-group .icon-area .icon-left img{}


.sc-style .icon-group .icon-area .icon-right{}
.sc-style .icon-group .icon-area .icon-right .icon-list{
  display: grid;
  grid-template-columns: repeat(5,2fr);
  gap: 24px 43px;
}
.sc-style .icon-group .icon-area .icon-right .icon-item{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sc-style .icon-group .icon-area .icon-right .icon-item img{}
.sc-style .icon-group .icon-area .icon-right .icon-item span{
  color: #464646;
text-align: center;
font-size: 12px;
margin-top: 8px;
}







.sc-mobile{
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
.sc-mobile .mobile-area{
  position: absolute;
  top: 200px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sc-mobile .desc{
  width: 582px;
  font-size: 15px;
  font-weight: 400;
  line-height: 29px;
  text-align: center;
  margin-top: 76px;
}
.sc-mobile .name{
  font-size: 13px;
  font-weight: 700;
  padding: 11px 20px;
  border-radius: 100px;
  background: #FFF;
  margin-top: 37px;
}
.sc-mobile img{
}




.sc-tablet{
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sc-tablet .mobile-area{
  position: absolute;
  top: 200px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sc-tablet .desc{
  width: 582px;
  font-size: 15px;
  font-weight: 400;
  line-height: 29px;
  text-align: center;
  margin-top: 76px;
}
.sc-tablet .name{
  font-size: 13px;
  font-weight: 700;
  padding: 11px 20px;
  border-radius: 100px;
  background: #FFF;
  margin-top: 37px;
}
.sc-tablet img{
}